# TextBlob

Description: TextBlob is a Python (2 and 3) library for processing textual data. It provides a simple API for diving into common natural language processing (NLP) tasks such as part-of-speech tagging, noun phrase extraction, sentiment analysis, classification, translation, and more.

## Import Libraries

### Main Libraries

In [1]:
import numpy as np
import pandas as pd
import re

### NLP Libraries

In [2]:
import nltk
from textblob import TextBlob

## Load Dataset

In [3]:
# Import the dataset
df = pd.read_csv('C:/Users/cherryb/Desktop/Personal Projects/Datasets/Telus - Fintech/cleaned/commentsCleaned_VSent-TBlob.tsv', sep='\t')

In [4]:
# Inspect dataset
df.head()

,Unnamed: 0,post_id,is_reply,comment_message,comment_published,comment_like_count,attachment_type
0,0,155027942462_10157280442467463,1,Why?,2019-06-18T00:08:26+0000,0,NaN
1,1,155027942462_10157280442467463,0,The worst card ever it’s lawsuit time,2019-06-04T19:53:28+0000,6,NaN
2,2,155027942462_10157236349992463,0,I think some needs to hear this. Over the year...,2019-05-14T03:28:34+0000,0,NaN
3,3,155027942462_10157174321432463,0,"How long does it take to get refunded money, P...",2019-04-20T20:44:07+0000,1,NaN
4,10,155027942462_10157096430022463,0,REALLY? Recipes From Heaven,2019-03-15T22:37:37+0000,0,NaN

## Sentiment Analysis using TextBlob

Description: The sentiment function of textblob returns two properties: polarity, and subjectivity.

Polarity is float which lies in the range of [-1,1] where 1 means positive statement and -1 means a negative statement. Subjective sentences generally refer to personal opinion, emotion or judgment whereas objective refers to factual information. Subjectivity is also a float which lies in the range of [0,1].

In [5]:
# Copy df
df_sentiment = df.copy()
# Get comment_message only
df_sentiment = df_sentiment[['comment_message']]

In [6]:
# TextBlob
df_sentiment['comment_message'] = df_sentiment['comment_message'].apply(lambda row: TextBlob(row))

In [7]:
# Get sentiment polarity
df_sentiment['sentiment'] = df_sentiment['comment_message'].apply(lambda blob: blob.sentiment.polarity)

In [8]:
# Get subjectivty polarity
df_sentiment['polarity'] = df_sentiment['comment_message'].apply(lambda blob: blob.sentiment.subjectivity)

In [9]:
# Function for translating polarity to Positive, Neutral, Negative
def get_sentiment(polarity):
    '''
    Insert description
    '''
    if polarity > 0:
        return 'Positive'
    elif polarity == 0:
        return 'Neutral'
    else:
        return 'Negative'

In [10]:
# Transform polarity scores
df_sentiment['sentiment_type'] = df_sentiment['sentiment'].apply(get_sentiment)
df_sentiment.head()

,comment_message,sentiment,polarity,sentiment_type
0,"(W, h, y, ?)",0.00,0.000000,Neutral
1,"(T, h, e, , w, o, r, s, t, , c, a, r, d, , ...",-1.00,1.000000,Negative
2,"(I, , t, h, i, n, k, , s, o, m, e, , n, e, ...",0.40,0.483333,Positive
3,"(H, o, w, , l, o, n, g, , d, o, e, s, , i, ...",-0.05,0.400000,Negative
4,"(R, E, A, L, L, Y, ?, , R, e, c, i, p, e, s, ...",0.20,0.200000,Positive

In [11]:
# Drop sentiment, polarity
df_sentiment = df_sentiment.drop(['sentiment','polarity'], axis=1)

In [12]:
# View the new dataset with sentiments
df_sentiment.head()

                                     comment_message sentiment_type
0                                       (W, h, y, ?)        Neutral
1  (T, h, e,  , w, o, r, s, t,  , c, a, r, d,  , ...       Negative
2  (I,  , t, h, i, n, k,  , s, o, m, e,  , n, e, ...       Positive
3  (H, o, w,  , l, o, n, g,  , d, o, e, s,  , i, ...       Negative
4  (R, E, A, L, L, Y, ?,  , R, e, c, i, p, e, s, ...       Positive

## Save as TextBlob_Sentiments.tsv

In [13]:
df_sentiment.to_csv('C:/Users/cherryb/Desktop/Personal Projects/Datasets/Telus - Fintech/results/commentsTextBlobSentiment.tsv', sep='\t')